<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKVR4Wt6ePjhNegV8koaWLsfYSaACr_Go</string>
	<key>GCM_SENDER_ID</key>
	<string>187080259545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.seattleu.bookwormCpsc5250</string>
	<key>PROJECT_ID</key>
	<string>bookworm-317ec</string>
	<key>STORAGE_BUCKET</key>
	<string>bookworm-317ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187080259545:ios:351b76d719e0478c91cbc8</string>
</dict>
</plist>